<%- include('partials/header'); -%>

<section id="main-section">

  <div class="upper-part">
    <h1 class="title">Coal Mine Monitoring System project</h1>
    <p>It gives an access to data sensed from sensors in mine</p>
    <p></p>
  </div>
  <div class="middle-part">
    <h3 class="sub-title">Basic Serivices </h3>
    <div class="cards">
      <div class="card">
        <h4 class="s-title">Temperature</h4>
        <i class="fas fa-thermometer-half img"></i>
        <p>Coal mine monitoring system provide temperature found in coal mine</p>
        <button><a href="#">Details</a></button>
      </div>
      <div class="card">
        <h4 class="s-title">Humidity</h4>
        <i class="fas fa-tint img"></i>
        <p>Coal mine monitoring system provide Humidity found in coal mine</p>
        <button><a href="#">Details</a></button>
      </div>
      <div class="card">
        <h4 class="s-title">Gas</h4>
        <i class="fas fa-smog img"></i>
        <p>Coal mine monitoring system provide Gas found in coal mine</p>
        <button><a href="#">Details</a></button>
      </div>
      <div class="card">
        <h4 class="s-title">Co2</h4>
        <i class="fas fa-smoking-ban img"></i>
        <p>Coal mine monitoring system provide CO2 found in coal mine</p>
        <button><a href="#">Details</a></button>
      </div>

    </div>
  </div>
</section>


<%- include('partials/footer'); -%>