<%- include('partials/header'); -%>

<section id="login-section">

  <h2 class="login-title">Create an account</h2>
  <form>
    <label for="name">Name</label>
    <input type="text" name="name" required>

    <label for="job">Occupation</label>
    <input type="text" name="occupation" required>
    
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    <label for="email">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>

    <button class=".btn">Sign up</button>

    <p>Already have an account click <a href="/login">login</a> to create account</p>
  </form>

</section>

<!-- <form>
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required>
  <div class="email error"></div>

  <label for="email">Password</label>
  <input type="password" name="password" required>
  <div class="password error"></div>

  <button>Sign up</button>
</form> -->

<script>

  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get the values
    const email = form.email.value;
    const password = form.password.value;
    const name = form.name.value;
    const occupation = form.occupation.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ name, occupation, email, password }),
        headers: { 'Content-Type': 'application/json'}
      });

      const data = await res.json();

      if(data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }

      if(data.user){
        location.assign('/');
      }

    } catch(err) {
      console.log(err);
    }


  });

</script>

<%- include('partials/footer'); -%>